@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
:root {
  --clr-primary: #4e944f;
  --txt-paragraph: #555;
  --clr-light-primary: #83bd75;
  --clr-light: #b4e197;
  --clr-extra-light: #e9efc0;
  --clr-ascent: #fed700;
  --clr-white: #fff;
  --clr-dark: #1d1d1d;
  --shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "poppins", sans-serif;
}

a {
  text-decoration: none;
  color: var(--txt-paragraph);
}

li {
  list-style-type: none;
}

p {
  color: var(--txt-paragraph);
}

img {
  max-width: 100%;
}

.cart-btn {
  width: 100%;
  padding: 0.3rem 2rem;
  text-align: center;
  border-radius: 6px;
  color: var(--clr-white);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4.375rem;
  align-items: center;
  justify-content: space-around;
}

.col-2,
.col-3,
.col-4 {
  margin-bottom: 3.125rem;
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}

.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  text-align: center;
}
.col-3 img {
  box-shadow: var(--shadow);
  border-radius: 5px;
}

.col-4 {
  flex-basis: 25%;
  min-width: 200px;
  height: 250px;
  padding: 15px;
  margin-top: 2rem;
  margin-bottom: 5.125rem;
  transition: transform 0.5s;
}
.col-4 img {
  box-shadow: var(--shadow);
  border-radius: 5px;
}
.col-4:hover {
  transform: translateY(-5px);
}

.btn {
  width: 150px;
  padding: 0.5rem 2rem;
  border-radius: 8px;
  border: none;
  margin-bottom: 2rem;
  color: var(--clr-white);
  cursor: pointer;
  font-weight: normal;
  transition: background-color 0.3s;
}

.btn-primary {
  background-color: var(--clr-primary);
}
.btn-primary:hover {
  background-color: var(--clr-light-primary);
}

.brand {
  padding: 0;
  margin: 0;
}

.cart-icon {
  color: var(--clr-light-primary);
  font-size: 1.575rem;
  margin: 1rem 3rem 0 0;
}

.menu-icon {
  width: 30px;
  height: 30px;
  margin-right: 50px;
  position: absolute;
  top: 35px;
  right: 0;
  display: none;
}

.menu-close {
  width: 30px;
  display: none;
}

.navigation-bar {
  background: #fff;
  box-shadow: var(--shadow);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  position: relative;
  z-index: 1000;
}

.navigation {
  flex: 1;
  text-align: right;
}

.navigation ul {
  list-style-type: none;
  display: inline-block;
}

.navigation ul li {
  display: inline-block;
  margin-right: 20px;
}

.navigation ul li a {
  font-size: 1rem;
  font-weight: bold;
  color: var(--clr-light-primary);
}

.hero-container {
  width: 100% !important;
}
.hero-container .hero-bg {
  width: 100%;
}

.main-container {
  max-width: 1300px;
  margin: auto;
  padding: 0 1.5625rem;
}

.small-container {
  max-width: 1080px;
  margin: auto;
  padding: 0 25px;
}

.section-title {
  font-size: 1.6rem;
  color: var(--clr-primary);
  text-align: center;
  margin-top: 4.375rem;
  position: relative;
  line-height: 60px;
}
.section-title::after {
  content: "";
  background-color: var(--clr-ascent);
  width: 80px;
  height: 6px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.product-name {
  color: var(--txt-paragraph);
  font-weight: 400;
}

.price {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.exclusive-offer {
  background-color: var(--clr-extra-light);
}
.exclusive-offer .col-2 {
  padding: 2rem;
}

.big-title {
  font-size: 4rem;
  font-weight: 900;
  color: var(--clr-primary);
  line-height: 1;
  margin-bottom: 0 2rem;
}

.section-txt {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.why {
  background-color: var(--clr-white);
  padding-bottom: 3rem;
}
.why .row {
  text-align: center;
}
.why .row .col-4 {
  transform: none;
}

.why-icon {
  color: var(--clr-primary);
  margin-bottom: 2rem;
  position: relative;
  transition: color 0.5s;
  transition: transform 0.5s;
}
.why-icon:hover {
  color: var(--clr-light-primary);
  transform: rotate(-10deg);
}

.why-txt {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--clr-primary);
}

.contact-us {
  background-color: var(--clr-light);
  padding-bottom: 4rem;
}
.contact-us .col-2 {
  position: relative;
}

@-webkit-keyframes big-circle-anim {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes big-circle-anim {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes small-circle-anim {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-320%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes small-circle-anim {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-320%);
  }
  100% {
    transform: translateX(0%);
  }
}
.big-circle-anim {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5), -2px -2px 4px rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 50%;
  right: 45%;
  -webkit-animation: big-circle-anim infinite 10s ease-in-out;
          animation: big-circle-anim infinite 10s ease-in-out;
}

.small-circle-anim {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5), -2px -2px 4px rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  left: 70%;
  -webkit-animation: small-circle-anim 10s infinite ease-in-out;
          animation: small-circle-anim 10s infinite ease-in-out;
}

.form-group {
  min-width: 300px;
  max-width: 500px;
  background-color: var(--clr-white);
  padding: 3rem 1rem;
  border-radius: 8px;
}

.get-in-touch {
  color: var(--clr-primary);
  text-align: center;
  margin-bottom: 1rem;
}

.input-wrapper {
  width: 100%;
  padding: 1rem;
}
.input-wrapper textarea {
  margin-bottom: 3rem;
}

.input-field {
  display: block;
  width: 100%;
  padding: 0.6rem 1.1rem;
  border-radius: 8px;
  border: none;
  color: var(--txt-paragraph);
  background-color: var(--clr-light);
  margin-bottom: 1rem;
  transition: padding 0.5s;
  font-size: 1.2rem;
}
.input-field:focus {
  padding: 0.7rem 1.2rem;
  background-color: var(--clr-extra-light);
  outline: 2px solid var(--clr-light);
}

.call-us-cta {
  background-color: var(--clr-white);
  color: var(--clr-primary);
  transition: background-color 0.3s;
}
.call-us-cta:hover {
  background-color: var(--clr-light-primary);
  color: var(--clr-white);
}

.footer {
  background-color: var(--clr-dark);
  color: var(--txt-paragraph);
  padding: 3rem 2rem 4rem;
  text-align: center;
}

.social-icon-list {
  display: inline-block;
  margin: 1rem 2rem;
}

.icons {
  color: var(--clr-white);
  transition: color 0.5s;
}
.icons:hover {
  color: var(--clr-light-primary);
}

.social-title {
  color: var(--clr-white);
}

.similar-product {
  padding-bottom: 3rem;
}

.product-details-row {
  margin-top: 0;
}

.section-subtitle {
  text-align: center;
  color: var(--clr-primary);
  margin: 2rem auto 0px;
}

.big-product-name {
  color: var(--clr-primary);
}

.add-to-cart-btn {
  display: block;
  margin-top: 2rem;
  width: 180px;
  text-align: center;
}

.single-product-price {
  margin-bottom: 1rem;
}

.quantity {
  width: 4.5rem;
  padding: 5px;
  border: 2px solid var(--clr-primary);
  margin: 0 10px;
  text-align: center;
  color: var(--txt-paragraph);
  font-weight: 600;
}
.quantity:focus {
  outline: var(--clr-primary);
}

.quantity-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--clr-primary);
  border: none;
  color: var(--clr-white);
  transition: background-color 0.3s;
}
.quantity-btn:hover {
  background-color: var(--clr-light-primary);
}

.cart-section {
  text-align: center;
}
.cart-section .cart-header {
  background-color: var(--clr-primary);
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: bold;
}
.cart-section .cart-row {
  width: 100%;
}
.cart-section .col-3 {
  font-weight: bold;
}
.cart-section .col-3 h4 {
  font-weight: bold;
}
.cart-section .col-3 img {
  width: 100px;
  height: 100px;
  text-align: left;
}
.cart-section .cart-quantity-input {
  width: 40px;
  padding: 0.5rem 0;
  text-align: center;
  margin: 0 1rem;
  border-radius: 6px;
  border: 3px solid var(--clr-primary);
}
.cart-section .remove-btn {
  width: auto;
  text-align: center;
  padding: 0.5rem;
  margin: 0.5rem 1rem;
}
.cart-section .cart-total-container {
  margin: 0 0 0 auto;
  padding-right: 6rem;
}
.cart-section .cart-total-container .cart-total-price,
.cart-section .cart-total-container .cart-total-title {
  margin-left: 1rem;
  margin-right: 0.7rem;
}
.cart-section .place-order-btn {
  text-align: center;
  width: 200px;
  padding: 1rem;
  font-size: 1.3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
@media screen and (max-width: 800px) {
  .cart-section .col-3 {
    flex-basis: 30%;
    min-width: 70px;
    text-align: center;
  }
  .cart-section .col-3 img {
    box-shadow: var(--shadow);
    border-radius: 5px;
  }
  .cart-section .cart-total-container {
    margin: 0 auto;
    padding-right: 0;
  }
}
@media screen and (max-width: 415px) {
  .cart-section .cart-quantity-input,
.cart-section .remove-btn {
    margin-left: 0;
    margin-right: 0;
  }
}

@media only screen and (max-width: 800px) {
  .menu-close,
.menu-icon {
    display: block;
    width: 30px;
  }
  .cart-icon {
    position: absolute;
    top: 1.35rem;
    right: 6rem;
    margin-right: 0;
  }
  .menu-close {
    position: absolute;
    top: 35px;
    right: 3rem;
  }
  .navigation ul {
    position: fixed;
    background-color: var(--clr-dark);
    top: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
    z-index: 1000;
  }
  .navigation ul li {
    display: block;
    margin: 2rem 3rem;
  }
  .li-home {
    margin-top: 6rem !important;
  }
}
@media only screen and (min-width: 800px) {
  .navigation ul {
    margin-top: 2rem;
  }
}
@media screen and (min-width: 885px) {
  @-webkit-keyframes big-circle-anim {
    0% {
      transform: translateY(0%);
    }
    50% {
      transform: translateY(-200%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  @keyframes big-circle-anim {
    0% {
      transform: translateY(0%);
    }
    50% {
      transform: translateY(-200%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes small-circle-anim {
    0% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(-535%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  @keyframes small-circle-anim {
    0% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(-535%);
    }
    100% {
      transform: translateX(0%);
    }
  }
}
@media screen and (max-width: 400px) {
  .main-product .col-4 {
    flex-basis: 100%;
  }
}/*# sourceMappingURL=styles.css.map */